body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient(to bottom, #4F4557, #6D5D6E);
    color: #F4EEE0;
}

header {
    background-color: #86c4d2;
    color: black;
    padding: 10px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.question {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="radio"] {
    margin-right: 10px;
}

#submitBtn {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submitBtn:hover {
    background-color: #0056b3;
}
